{% extends 'admin_templates/base_template.html' %}
<!-- BLOCK FOR TITLE -->
{% block title %}
Dashboard
{% endblock title %}
<!-- END BLOCK FOR TITLE -->

<!-- BLOCK FOR CUSTOM CSS -->
{% block custom_css %}

{% endblock custom_css %}
<!-- END BLOCK FOR CUSTOM CSS -->

<!-- BLOCK FOR PAGE TITLE -->
{% block page_title %}
Dashboard
{% endblock page_title %}
<!-- END BLOCK FOR PAGE TITLE -->

<!-- BLOCK FOR PAGE MAIN CONTENT -->
{% block page_content %}
<p>Simple Dashboard Empty Page</p>
{% endblock page_content %}
<!-- END BLOCK FOR PAGE MAIN CONTENT -->

<!-- BLOCK FOR CUSTOM JS -->
{% block custom_js %}

{% endblock custom_js %}
<!-- END BLOCK FOR CUSTOM JS -->